// Spacing helpers - Define standard spacing elements
@each $scale, $size in (0: 0, xxs: $spacing-unit-xxs, xs: $spacing-unit-xs, sm: $spacing-unit-sm, md: $spacing-unit-md, lg: $spacing-unit-lg, xl: $spacing-unit-xl, xxl: $spacing-unit-xxl) {
  @each $side in (top, right, bottom, left) {
    @each $property in (margin, padding) {
      %u-#{$property}-#{$side}-#{$scale},
      .u-#{$property}-#{$side}-#{$scale} {
        #{$property}-#{$side}: ($size / 2);

        @media (min-width: $screen-md-min) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$scale} {
        #{$property}: ($size / 2);

        @media (min-width: $screen-md-min) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$side}-#{$scale}-const {
        #{$property}-#{$side}: $size;
      }

      .u-#{$property}-#{$side}-#{$scale}-if-md {
        @media (max-width: $screen-md-max) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$side}-#{$scale}-if-sm {
        @media (max-width: $screen-sm-max) {
          #{$property}-#{$side}: $size;
        }
      }

      .u-#{$property}-#{$side}-#{$scale}-if-xs {
        @media (max-width: $screen-xs-max) {
          #{$property}-#{$side}: $size;
        }
      }
    }
  }
}

.u-margin-bottom-0 {
  margin-bottom: 0;
}

.u-text-light {
  color: $color-white;
}

.u-text-brand {
  color: $color-primary;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-weight-light {
  font-weight: 300;
}

.text-weight-normal {
  font-weight: 400;
}

.text-weight-semibold {
  font-weight: 600;
}

.text-weight-bold {
  font-weight: 700;
}

.text-weight-heavy {
  font-weight: 900;
}
